body {
    
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

a:link { text-decoration: none; 
    color: black;
    }

a:visited { text-decoration: none;
     color: black;
    }

a:hover { text-decoration: underline; }

a:active { text-decoration: none; }

.leftheader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 14px;
}


.lefttext {
    padding: 10px;
}

.rightheader {
    font-family: 'Arial', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    width: 50%;
}

.righttext {
    padding-left: 10px;
}

.useritems {
    padding-right: 10px;
    justify-content: left;
}

.usericons {
    display: flex;
}

#apps {
    padding: 10px;
}

#user {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 10px;
}

.googlestamp {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55vh;
}

.middle {
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
    display: block;
}